<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, intital-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <div class="mustard-header">
            <h1 style="text-align: center">
            welcome to crabmustard, LLC
            home of Pedro, the super recruiter
        </h1>
        </div>
        {% block head %}{% endblock %}
    </head>


    <body>
        {% block body %}{% endblock %}
    </body>
</html>