{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<section class="layout">
        <div class="header">
            <img src="{{ url_for('static', filename='images/logo2.png') }}" />
            <h1>
            welcome to crabmustard, LLC
            <br>
            home of Pedro, the super recruiter
        </h1>
        </div>

    <div class="main" style="text-align: left; padding: 50px;">
        
        <h1>Official statement on current financial situation.</h1>
        <img src="{{ url_for('static', filename='images/statement.png') }}" />
        <p>Due to unfortunate circumstances surrounding the price of rawhide,</p>
        <p>we will be having to make some cuts to operating expenses.</p>
        <p>The following is a list of concessions we will be making.</p>
        <li>Payroll will be delayed indefinitely</li>
        <li>Snacks in the breakroom will be limited to oyster crackers and mustard</li>
        <li>Lights will be turned off from 12 noon until 4pm to save energy</li>
        <br>
        <p>I will be taking up a donation from everyone to try and make payroll.</p>
        <p>Don't let your fellow workers down.</p>
        <button><a href="/">Main Menu</a></button>

    </div>

    <div class="footer">
        <h3>Memo from Pedro:</h3>
        <p>I bought too many rawhide chews, we cant afford more people.</p>
        <p>Just reject them all for now.</p>
        <button><a href="/update/">More info</a></button>
    </div>

</section>


{% endblock %}

